<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec {{Dev}}.com</title>
    </head>
    <body>
        <h1>Hello {{Dev}} !</h1>

        <p>
          Hello  {{Dev}}, thinks for your tutorial  
        </p>
    </body>
</html>

